    
	<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="">
            <img src="img/bourse.png" alt="Bulma: Free, open source, & modern CSS framework based on Flexbox">
          </a>
        </div>
    </nav>
  {{input type="text" value=symbol}}
  <button {{action 'loadsymbol'}}>Submit</button>
    <section class="section">
    <div class="columns">
        <div class="column">
            <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                    Actions
                  </p>
                </header>
                <div class="card-content">
                    <table class="table">
                        <thead>
                          <tr>
                            <th><abbr title="Symbole">Symbole</abbr></th>
                            <th><abbr title="Date">Date</abbr></th>
                            <th><abbr title="Prix">Prix</abbr></th>
                            <th><abbr title=""></abbr></th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{model.[Global Quote].[01. symbol]}}</td>
                                <td>{{model.[Global Quote].[07. latest trading day]}}</td>
                                <td>{{model.[Global Quote].[02. open]}}</td>
                                <td><a class="button is-link" {{action 'acheterAction'}}>Acheter</a></td>
                            </tr>
                        </tbody>
                      </table>
                </div>
                
            </div>
        </div>
        <div class="column">
            <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                    Portefeuille
                  </p>
                </header>
                <div class="card-content">
                    <table class="table">
                        <thead>
                          <tr>
                            <th><abbr title="">Test1</abbr></th>
                            <th><abbr title="">Test2</abbr></th>
                            <th><abbr title="">Test3</abbr></th>
                            <th><abbr title="">Test4</abbr></th>
                            <th><abbr title="">Test5</abbr></th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>38</td>
                                <td>23</td>
                                <td>12</td>
                                <td>38</td>
                                <td>23</td>
                            </tr>
                        </tbody>
                      </table>
                </div>
                
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                    Courbes
                  </p>
                </header>
                <div class="card-content">
                  
                </div>
                
            </div>
        </div>
        <div class="column">
            <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                    Gain
                  </p>
                </header>
                <div class="card-content">
                  
                </div>
                
            </div>
        </div>
      </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
                <p>
                  <strong>BourseJS</strong> par <a href="https://kryze.github.io">Benjamin Rath</a>.
                </p> 
         </div>
    </footer>
{{outlet}}