    
	<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="">
            <img src="img/bourse.png" alt="BourseJS">
          </a>
        </div>
    </nav>
  <section class="section">
  <div class="columns is-centered">
    {{input placeholder="Indiquer un symbole..." type="text" value=symbol}}
    <button class="button is-link" {{action 'loadsymbol'}}>Recherche</button>
  </div>
  </section>
    <section class="section">
    <div class="columns">
        <div class="column">
            <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                    Actions
                  </p>
                </header>
                <div class="card-content">
                    <table class="table">
                        <thead>
                          <tr>
                            <th><abbr title="Symbole">Symbole</abbr></th>
                            <th><abbr title="Date">Date</abbr></th>
                            <th><abbr title="Prix">Prix</abbr></th>
                            <th><abbr title=""></abbr></th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{model.symbols.[Global Quote].[01. symbol]}}</td>
                                <td>{{model.symbols.[Global Quote].[07. latest trading day]}}</td>
                                <td>{{model.symbols.[Global Quote].[02. open]}}</td>
                                <td><a class="button is-link" {{action 'acheterAction'}}>Acheter</a></td>
                            </tr>
                        </tbody>
                      </table>
                </div>
                
            </div>
        </div>
        <div class="column">
            <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                    Portefeuille
                  </p>
                </header>
                <div class="card-content">
                    <table class="table">
                        <thead>
                          <tr>
                            <th><abbr title="Symbole">Symbole</abbr></th>
                            <th><abbr title="Date">Date</abbr></th>
                            <th><abbr title="Prix Achat">Prix Achat</abbr></th>
                            <th><abbr title=""></abbr></th>
                          </tr>
                        </thead>
                        <tbody>
                                {{#each model.boughts as |val| }}
                                <tr>
                                <td>{{val.[symbol]}}</td>
                                <td>{{val.[date]}}</td>
                                <td>{{val.[price]}}</td>
                                <td><a class="button is-success" data-id={{val.[_id]}}  onclick={{action 'vendreAction'}}>Vendre</a></td>
                                </tr>
                                {{/each}}
                        </tbody>
                      </table>
                </div>
                
            </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
            <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                    Courbes
                  </p>
                </header>
                <div class="card-content">
                  <canvas id="myChart" width="300" height="300"></canvas>
                  <!--<a class="button is-success"  onclick={{action 'createChart'}}>Chart</a>-->
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                    Historique Porte-monnaie
                  </p>
                </header>
                <div class="card-content">
                  <table class="table">
                        <thead>
                          <tr>
                            <th><abbr title="Symbole">Symbole</abbr></th>
                            <th><abbr title="Prix Acheté">Prix Acheté</abbr></th>
                            <th><abbr title="Prix Vendue">Prix Vendue</abbr></th>
                            <th><abbr title="Date Acheté">Date Acheté</abbr></th>
                            <th><abbr title="Date Vendue">Date Vendue</abbr></th>
                            <th><abbr title="Gain">Gain</abbr></th>
                          </tr>
                        </thead>
                        <tbody>
                                {{#each model.solds as |val2| }}
                                <tr>
                                <td>{{val2.[symbol]}}</td>
                                <td>{{val2.[priceBought]}}</td>
                                <td>{{val2.[priceSold]}}</td>
                                <td>{{val2.[dateBought]}}</td>
                                <td>{{val2.[dateSold]}}</td>
                                <td>{{val2.[gain]}}</td>
                                </tr>
                                {{/each}}
                        </tbody>
                      </table>
                </div>
                
            </div>
        </div>
      </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
                <p>
                  <strong>BourseJS</strong> par <a href="https://kryze.github.io">Benjamin Rath</a>.
                </p> 
         </div>
    </footer>
{{outlet}}